{% extends 'glasses/base.html' %}

{% block content %}
<form method="post" class="uu fdwn">
        <section class="up">
            <h1>Корзина</h1>
            <div class="basket_up">
                <a href="#">Выбрать всё</a>
                <input type="submit" value="Оплатить" class="pay">
            </div>
        </section>

        <ul class="basket_list">


            <label for="product1" class="basket_product card1">

                <input type="checkbox" id="product1">
                <span class="square gre"></span>
                <span class="card">
                    <div class="imgbox2">
                        <img src="/img/g1.jpg" alt="">
                    </div>
                    <h3>Enni Marco 11531 17</h3>
                    <div class="down_card3">
                        <p>4 499₽</p>

                        <a href="#">
                            купить
                        </a>

                    </div>
                </span>

            </label>

            <label for="product2" class="basket_product card1">

                <input type="checkbox" id="product2">
                <span class="square gre"></span>
                <span class="card">
                    <div class="imgbox2">
                        <img src="/img/g1.jpg" alt="">
                    </div>
                    <h3>Enni Marco 11531 17</h3>
                    <div class="down_card3">
                        <p>4 499₽</p>

                        <a href="#">
                            купить
                        </a>

                    </div>
                </span>

            </label>

            <label for="product3" class="basket_product card1">

                <input type="checkbox" id="product3">
                <span class="square gre"></span>
                <span class="card">
                    <div class="imgbox2">
                        <img src="/img/g1.jpg" alt="">
                    </div>
                    <h3>Enni Marco 11531 17</h3>
                    <div class="down_card3">
                        <p>4 499₽</p>

                        <a href="#">
                            купить
                        </a>

                    </div>
                </span>

            </label>

            <label for="product1" class="basket_product card1">

                <input type="checkbox" id="product1">
                <span class="square gre"></span>
                <span class="card">
                    <div class="imgbox2">
                        <img src="/img/g1.jpg" alt="">
                    </div>
                    <h3>Enni Marco 11531 17</h3>
                    <div class="down_card3">
                        <p>4 499₽</p>

                        <a href="#">
                            купить
                        </a>

                    </div>
                </span>

            </label>

            <label for="product1" class="basket_product card1">

                <input type="checkbox" id="product1">
                <span class="square gre"></span>
                <span class="card">
                    <div class="imgbox2">
                        <img src="/img/g1.jpg" alt="">
                    </div>
                    <h3>Enni Marco 11531 17</h3>
                    <div class="down_card3">
                        <p>4 499₽</p>

                        <a href="#">
                            купить
                        </a>

                    </div>
                </span>

            </label>
        </ul>
    </form>
{% endblock content %}