{% extends 'glasses/base.html' %}

{% load static %}
{% block content %}

    <div class="uu fdwn">
        <section class="up">
            <div class="category_title">
                <a href="#">{{ category.name }}</a>
                <a class="sort_p">Сортировать по:</a>
                <select form="{{category.slug}}" name="criteria_sort_by" id="criteria_sort_by">
                    <option value="title" {% if select_sort == 'title' %} selected="selected" {% endif %}>Алфавиту А-Я</option>
                    <option value="-title" {% if select_sort == '-title' %} selected="selected" {% endif %}>Алфавиту Я-А</option>
                    <option value="price" {% if select_sort == 'price' %} selected="selected" {% endif %}>Возрастанию цены</option>
                    <option value="-price" {% if select_sort == '-price' %} selected="selected" {% endif %}>Убыванию цены</option>
                </select>
            </div>
        </section>
        <div class="middle ais">
            <ul class="product_list">
                  {% for product in category_products %}
                <a href="{{ product.get_absolute_url }}">
                                    <li class="card1">
                    <div class="card">
                        <a href="{{ product.get_absolute_url }}">
                            <div class="imgbox1">
                                {% if product.image1 != None  %}
                        <img src="{{ product.image1.url }}" alt="">
                        {% else %}
                        <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                        {% endif %}
                            </div>
                        </a>
                        <a href="{{ product.get_absolute_url }}"><h3>{{ product.title|truncatechars:15 }}</h3></a>
                        <div class="down_card2">
                            <p>{{ product.price }}₽</p>
                            <div class="fl2">
                                <a href="" class="wh32 bl">
                                    <form action="{% url 'add_to_cart' ct_model=product.category.slug slug=product.slug %}" method="get">
<!--                                    <input type="number" id="num_count" name="quantity" value="1" class="dn">-->
                                    <div class="basket"><input type="submit" name="quantity" value="1" class="invisible_cart"></div>
                                </form>
                                </a>
                                <a href="" class="wh32">
                                <form action="{% url 'add_to_favourites' ct_model=product.category.slug slug=product.slug %}" method="get">
<!--                                    <input type="number" id="num_count" name="quantity" value="1" class="dn">-->
                                    <div class="heart"><input type="submit" name="quantity" value="1" class="invisible_cart"></div>
                                </form>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                </a>

                {% endfor %}
            </ul>
{% if category.slug == 'lenses' %}
            <form action="" method="get" class="criteria_form" id="{{category.slug}}">

                <h3>Категория</h3>
                <div class="criteria_list ">
                    <label for="category" class="radio_text link-ease-in-out">
                        <input type="radio" class="criteria" name="criteria_category" id="category" value="0" {% if criteria_category == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>

                    {% for lc in lenses_category %}
                    <label for="category{{ lc.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_category" id="category{{ lc.id }}" value="{{ lc.id }}" {% if criteria_category == lc.id  %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lc }}</span>
                    </label>
                    {% endfor %}
                </div>
                <h3>Тип</h3>
                <div class="criteria_list">

                    <label for="type" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type" value="0" {% if criteria_type == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>
                    {% for lt in lenses_type %}
                    <label for="type{{ lt.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type{{ lt.id }}" value="{{ lt.id }}" {% if lt.id == criteria_type %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lt }}</span>
                    </label>
                    {% endfor %}
                </div>

                <h3>Цена</h3>
                <div class="criteria_list">
                    <label for="price" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_min" id="price" placeholder="От" value="{{min_price}}">
                    </label>
                    <label for="price1" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_max" id="price1" placeholder="До" value="{{max_price}}">
                    </label>
                </div>

                <h3>Производитель</h3>
                <div class="criteria_list">
                    {% for lm in lenses_manufacturer %}
                    <label for="manufacturer{{ lm.id }}" class="checkbox_text">
                        <input type="checkbox" class="criteria" name="criteria_manufacturer_{{ lm.id }}" id="manufacturer{{ lm.id }}" value="1" {% if lm.id in selected_manuf %} checked {% endif %}>
                        <span class="square"></span>
                        <span class="criteria_text">{{ lm }}</span>
                    </label>
                    {% endfor %}
                </div>
                <input type="submit" value="Применить">
            </form>
{% endif %}

{% if category.slug == 'glasses' %}
            <form action="" method="get" class="criteria_form" id="{{category.slug}}">

                <h3>Тип оправы</h3>
                <div class="criteria_list ">
                    <label for="category" class="radio_text link-ease-in-out">
                        <input type="radio" class="criteria" name="criteria_category" id="category" value="0" {% if criteria_category == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>

                    {% for lc in galasses_frame_type %}
                    <label for="category{{ lc.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_category" id="category{{ lc.id }}" value="{{ lc.id }}" {% if criteria_category == lc.id  %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lc }}</span>
                    </label>
                    {% endfor %}
                </div>
                <h3>Форма</h3>
                <div class="criteria_list">

                    <label for="type" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type" value="0" {% if criteria_type == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>
                    {% for lt in galasses_form %}
                    <label for="type{{ lt.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type{{ lt.id }}" value="{{ lt.id }}" {% if lt.id == criteria_type %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lt }}</span>
                    </label>
                    {% endfor %}
                </div>

                <h3>Цена</h3>
                <div class="criteria_list">
                    <label for="price" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_min" id="price" placeholder="От" value="{{min_price}}">
                    </label>
                    <label for="price1" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_max" id="price1" placeholder="До" value="{{max_price}}">
                    </label>
                </div>

                <h3>Производитель</h3>
                <div class="criteria_list">
                    {% for lm in galasses_manufacturer %}
                    <label for="manufacturer{{ lm.id }}" class="checkbox_text">
                        <input type="checkbox" class="criteria" name="criteria_manufacturer_{{ lm.id }}" id="manufacturer{{ lm.id }}" value="1" {% if lm.id in selected_manuf %} checked {% endif %}>
                        <span class="square"></span>
                        <span class="criteria_text">{{ lm }}</span>
                    </label>
                    {% endfor %}
                </div>
                <input type="submit" value="Применить">
            </form>
{% endif %}

{% if category.slug == 'sun_glasses' %}
            <form action="" method="get" class="criteria_form" id="{{category.slug}}">

                <h3>Тип оправы</h3>
                <div class="criteria_list ">
                    <label for="category" class="radio_text link-ease-in-out">
                        <input type="radio" class="criteria" name="criteria_category" id="category" value="0" {% if criteria_category == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>

                    {% for lc in sun_galasses_frame_type %}
                    <label for="category{{ lc.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_category" id="category{{ lc.id }}" value="{{ lc.id }}" {% if criteria_category == lc.id  %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lc }}</span>
                    </label>
                    {% endfor %}
                </div>
                <h3>Форма</h3>
                <div class="criteria_list">

                    <label for="type" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type" value="0" {% if criteria_type == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>
                    {% for lt in sun_galasses_form %}
                    <label for="type{{ lt.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type{{ lt.id }}" value="{{ lt.id }}" {% if lt.id == criteria_type %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lt }}</span>
                    </label>
                    {% endfor %}
                </div>

                <h3>Цена</h3>
                <div class="criteria_list">
                    <label for="price" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_min" id="price" placeholder="От" value="{{min_price}}">
                    </label>
                    <label for="price1" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_max" id="price1" placeholder="До" value="{{max_price}}">
                    </label>
                </div>

                <h3>Производитель</h3>
                <div class="criteria_list">
                    {% for lm in sun_galasses_manufacturer %}
                    <label for="manufacturer{{ lm.id }}" class="checkbox_text">
                        <input type="checkbox" class="criteria" name="criteria_manufacturer_{{ lm.id }}" id="manufacturer{{ lm.id }}" value="1" {% if lm.id in selected_manuf %} checked {% endif %}>
                        <span class="square"></span>
                        <span class="criteria_text">{{ lm }}</span>
                    </label>
                    {% endfor %}
                </div>
                <input type="submit" value="Применить">
            </form>
{% endif %}
{% if category.slug == 'care_products' %}
            <form action="" method="get" class="criteria_form" id="{{category.slug}}">


                <h3>Тип</h3>
                <div class="criteria_list">

                    <label for="type" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type" value="0" {% if criteria_type == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>
                    {% for lt in care_products_type %}
                    <label for="type{{ lt.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type{{ lt.id }}" value="{{ lt.id }}" {% if lt.id == criteria_type %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lt }}</span>
                    </label>
                    {% endfor %}
                </div>

                <h3>Цена</h3>
                <div class="criteria_list">
                    <label for="price" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_min" id="price" placeholder="От" value="{{min_price}}">
                    </label>
                    <label for="price1" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_max" id="price1" placeholder="До" value="{{max_price}}">
                    </label>
                </div>

                <h3>Производитель</h3>
                <div class="criteria_list">
                    {% for lm in care_products_manufacturer %}
                    <label for="manufacturer{{ lm.id }}" class="checkbox_text">
                        <input type="checkbox" class="criteria" name="criteria_manufacturer_{{ lm.id }}" id="manufacturer{{ lm.id }}" value="1" {% if lm.id in selected_manuf %} checked {% endif %}>
                        <span class="square"></span>
                        <span class="criteria_text">{{ lm }}</span>
                    </label>
                    {% endfor %}
                </div>
                <input type="submit" value="Применить">
            </form>
{% endif %}

{% if category.slug == 'accessories' %}
            <form action="" method="get" class="criteria_form" id="{{category.slug}}">
                <h3>Форма</h3>
                <div class="criteria_list">

                    <label for="type" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type" value="0" {% if criteria_type == 0 %} checked="checked" {% endif %}>
                        <span class="criteria_text">Не выбрано</span>
                    </label>
                    {% for lt in accessories_type %}
                    <label for="type{{ lt.id }}" class="radio_text">
                        <input type="radio" class="criteria" name="criteria_type" id="type{{ lt.id }}" value="{{ lt.id }}" {% if lt.id == criteria_type %} checked="checked" {% endif %}>
                        <span class="criteria_text">{{ lt }}</span>
                    </label>
                    {% endfor %}
                </div>

                <h3>Цена</h3>
                <div class="criteria_list">
                    <label for="price" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_min" id="price" placeholder="От" value="{{min_price}}">
                    </label>
                    <label for="price1" class="radio_text">
                        <input type="number" class="criteria_price" name="criteria_price_max" id="price1" placeholder="До" value="{{max_price}}">
                    </label>
                </div>

                <h3>Производитель</h3>
                <div class="criteria_list">
                    {% for lm in accessories_manufacturer %}
                    <label for="manufacturer{{ lm.id }}" class="checkbox_text">
                        <input type="checkbox" class="criteria" name="criteria_manufacturer_{{ lm.id }}" id="manufacturer{{ lm.id }}" value="1" {% if lm.id in selected_manuf %} checked {% endif %}>
                        <span class="square"></span>
                        <span class="criteria_text">{{ lm }}</span>
                    </label>
                    {% endfor %}
                </div>
                <input type="submit" value="Применить">
            </form>
{% endif %}

        </div>
<!--            <div class="paginate">-->

<!--            </div>            -->
            <div class="paginate">
                {% if last_page != 0%}
                                {% if page != 1 %}
                <button type="submit" name="criteria_page" form="{{category.slug}}" value="1"><<</button>
                <button type="submit" name="criteria_page" form="{{category.slug}}" value="{{ page|add:-1 }}">{{ page|add:-1 }}</button>
                {% endif %}
                {% if page != 1 or page != last_page %}
                <p >{{ page }}</p>
                {% endif %}
                {% if page != last_page %}
                <button type="submit" name="criteria_page" form="{{category.slug}}" value="{{ page|add:1 }}">{{ page|add:1 }}</button>
                <button type="submit" name="criteria_page" form="{{category.slug}}" value="{{ last_page }}">>></button>
                {% endif %}
                 {% endif %}

            </div>
    </div>

{% endblock content %}