{% extends 'glasses/base.html' %}

{% load static %}
{% block content %}
    <section class="bg">
        <h1>Начни наслаждаться красотой этого мира<br>
            вместе с нами</h1>
    </section>
    <section class="showcase">
        <div class="center1">
            <div class="tc">
                <h2 class="acol">Акции</h2>
                <a href="#">Смотреть все></a>
            </div>
        </div>
        <div class="center1">
            <div class="list">
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <p class="old_price">6 000</p>
                        <div class="down_card">
                            <p>4 499₽</p>
                            <div class="fl">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <p class="old_price">6 000</p>
                        <div class="down_card">
                            <p>4 499₽</p>
                            <div class="fl">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <p class="old_price">6 000</p>
                        <div class="down_card">
                            <p>4 499₽</p>
                            <div class="fl">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <p class="old_price">6 000</p>
                        <div class="down_card">
                            <p>4 499₽</p>
                            <div class="fl">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="showcase">
        <div class="center1">
            <div class="tc2">
                <h2 class="acol">Очки для зрения</h2>
                <a href="#">Смотреть все></a>
            </div>
        </div>
        <div class="center1">
            <div class="list">
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="center1">
            <div class="tc2">
                <h2 class="acol">Контактные линзы</h2>
                <a href="#">Смотреть все></a>
            </div>
        </div>
        <div class="center1">
            <div class="list">
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- карточка товара-->
                <div class="card1">
                    <div class="card">
                        <a href="#">
                            <div class="imgbox1">
                                <img src="{% static '/glasses/img/g1.jpg' %}" alt="">
                            </div>
                        </a>
                        <h3>Enni Marco 11531 17</h3>
                        <div class="down_card2">
                            <p>4 499₽</p>
                            <div class="fl2">
                                <a href="#"><div class="basket"></div></a>
                                <a href="#">
                                    <div class="heart"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock content %}