{% extends 'glasses/base.html' %}

{% block content %}
    <div class="fdwn">
        <div class="center1200">
            <form action="" method="POST" name="person" class="person">
                <section class="up">
                    <h1>Вход</h1>
                </section>
                <section class="personal_data md fend">
    
                    <label for="name">E-mail
                    <input type="text" placeholder="pochta@mail.ru" id="mail" name="mail"></label>
                    <label for="name">Пароль
                        <input type="text" placeholder="********" id="mail" name="mail"></label>
    
                    <label for="name">
                    <div class="login">
                        <input type="submit" value="Войти" class="regg">
                        <a href="#" class="have">У меня нет аккаунта</a>
                    </div>
                </label>
                </section>

            
        </div>
    </div>
    
    <div class="bgim"></div>

{% endblock content %}