{% extends 'glasses/base.html' %}

{% block content %}
    <div class="fdwn">
        <div class="center1200">
            <div class="person">

                <section class="up">
                    <h1>Вход</h1>
                </section>
                            <form action="" method="POST" class="person">
                    {% csrf_token %}
                <section class="personal_data md fend">
                    {% for f in form %}
                        <label for="{{ f.id_for_label }}">{{f.label}}
                    {{ f }}
                        </label>
                    {% endfor %}
                    <div class="login">
                        <input type="submit" value="Войти" class="regg">
                        <a href="#" class="have">У меня нет аккаунта</a>
                    </div>
                </section>
                </form>
            </div>
        </div>
    </div>

    <div class="bgim"></div>

{% endblock %}
