{% extends 'glasses/base.html' %}

{% block content %}
    <div class="uu fdwn">
        <section class="up">
            <h1>Заказ № 3123</h1>
            <div class="save_exit">

                <p href="#">Ожидает оплаты 299₽</p>
            </div>
        </section>

        <div class="middle">


                <div class="card2">
                    <div href="#">
                        <div class="imgbox2">
                            <img src="/img/g1.jpg" alt="">
                        </div>
                    </div>
                </div>

    
            <div class="info oplata">
                <h2>Adria 250 ml</h2>
                <p>Переведите <b>299₽</b> с комментарием <b>“3123”</b> (без кавычек) по этим реквизитам:</p>
                <h3>5300 1234 5678 9999</h3>
                <a href="#">Подтвердить</a>
            </div>
    
    
        </div>
    </div>
{% endblock content %}